src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration_training" doc:name="HTTP Request configuration" doc:id="919c1da0-1559-4393-bf50-d91ee5145e03" basePath="${training.basepath}" >
		<http:request-connection host="${training.host}" port="${training.port}" />
	</http:request-config>
	<sub-flow name="setCode" doc:id="e226b316-ece2-4544-9e75-ff9963d78ca8" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="aa35d52b-f9ae-4682-b416-99f59deef200" variableName="code" />
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="4a37b049-d3ad-4b95-9c1a-19e330923d73" >
		<http:listener doc:name="GET /american" doc:id="d3c80aa9-6cb9-4912-aa1c-0b9f215257db" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="3552366c-afde-415d-8e2d-5280541c8e69" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="e9a568ee-30c3-451d-a1b8-0cb78691f9a8" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="d0454bad-d816-4df1-884c-60ec812faf4c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9ee407b5-0e70-4613-9b3d-12d4ea1df579" />
	</flow>
	<flow name="getUnitedFlights" doc:id="4197e07c-c71a-49d9-905d-a2a653ca2125" >
		<http:listener doc:name="GET /united" doc:id="ce5c89e3-df08-415c-bfbb-0af942a51b92" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="c3a4f4c5-a226-44f8-82a4-40700dc25849" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="7c1e3e46-f020-42a8-815f-c1cea76c6e33" config-ref="HTTP_Request_configuration_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="8172870b-1b3a-446c-b720-93bad78fa578" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c6c9ffe3-bccb-4bbf-9e23-3d5bacbe6d3a" />
	</flow>
	<flow name="getDeltaFlights" doc:id="9d30e6e8-352b-4e99-bdb1-93b8af180ec3" >
		<http:listener doc:name="GET /delta" doc:id="85186543-60e7-43a4-beb5-cdb6866fc86b" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="f0842b32-0d53-4a21-90a4-9a09387032cd" name="setCode"/>
		<ee:transform doc:name="Pass code" doc:id="df081440-2170-45ff-963a-65f258dc7a52" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get flights" doc:id="531afaf8-aa96-47ce-866c-a4fb85534431" config-ref="Delta_Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="2715383b-369f-4c41-9c29-c8e75fcdbae7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b16da5b2-f410-4dfc-b3fd-a3ac7364abd0" />
	</flow>
</mule>
